
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/movies/list">Return to list...</a></span>
    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>Id:</td>
                <td>{{actor.id}}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input [(ngModel)]="actor.firstName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input [(ngModel)]="actor.lastName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input [(ngModel)]="actor.gender" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td><input [(ngModel)]="actor.birthday" class="rounded" type="text" disabled></td>
            </tr>
        </table>
    </main>
    <span >
        <span><a routerLink="/actors/edit/{{actor.id}}" class="btn btn-sm btn-warning">Edit</a></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
</div>
